@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Mina:wght@400;700&display=swap");

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f3f3f3;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

